<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create Collection</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
    <script th:src="@{/js/previewFile.js}" defer></script>
    <script th:src="@{/js/fadeAnimations.js}" defer></script>
  </head>
  <body>
    <!-- ERROR AND SUCCESS HANDLING -->
    <div class="hidden errorSuccessHandlingBox">
      <div
        id="successMessageDiv"
        class="success"
        th:if="${message}"
        th:text="${message}"
      ></div>
      <div
        id="errorMessageDiv"
        class="failure"
        th:if="${error}"
        th:text="${error}"
      ></div>
    </div>

    <header>
      <nav>
        <ul>
          <li>
            <a id="backButton" href="/index">
              <span>&#8592;</span>
            </a>
          </li>
          <li>
            <a href="/profile">
              <img
                class="round-image"
                th:src="${user != null and user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile-photo.png'}"
                alt="Profile Picture"
              />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="bottom-0 pb-12 overflow-y-auto">
      <div class="container">
        <nav>
          <span class="w-full text-sm font-semibold text-center text-slate-600">
            Create Collection
          </span>
        </nav>

        <form
          action="/create_collection"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="text" name="collectionTitle" required />
          <input type="text" name="collectionCaption" />
          <input type="file" name="collectionImage" accept="image/*" required />
          <button type="submit">Submit</button>
        </form>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/loader-trigger.js"></script>
  </body>
</html>
